In [1]:
import pandas as pd
import numpy as np

In [7]:

file_path = r"C:\Users\Madhukeshalu\Documents\Health_lifestyle_project\data\raw\health_lifestyle_risk_raw_with_issues_10000.csv"
df = pd.read_csv(file_path)

print(df.shape)
df.head()

(10000, 17)

,person_id,age,gender,height_cm,weight_kg,physical_activity_hours_per_week,diet_quality,sleep_hours_per_day,stress_level,smoking_status,alcohol_consumption,daily_screen_time_hours,water_intake_liters,fast_food_frequency_per_week,mental_wellbeing_score,chronic_conditions,family_history
0,7271.0,23.0,Female,165.0,93.0,7.0,Good,7.0,Medium,Non-Smoker,Moderate,3,2.1,0,46.0,Cardiac,No
1,861.0,40.0,Female,167.0,93.0,1.0,Poor,9.0,Low,Regular,NaN,5,3.7,6,60.0,NaN,No
2,5391.0,66.0,Female,159.0,106.0,5.0,Poor,7.0,High,Occasional,Moderate,12,2.8,4,49.0,Hypertension,No
3,5192.0,32.0,Female,192.0,85.0,11.0,Poor,9.0,Medium,Non-Smoker,High,6,3.0,0,13.0,NaN,No
4,5735.0,36.0,Male,177.0,104.0,2.0,Good,9.0,Medium,Regular,Moderate,9,3.8,3,35.0,Diabetes,No

In [8]:
df.head()

,person_id,age,gender,height_cm,weight_kg,physical_activity_hours_per_week,diet_quality,sleep_hours_per_day,stress_level,smoking_status,alcohol_consumption,daily_screen_time_hours,water_intake_liters,fast_food_frequency_per_week,mental_wellbeing_score,chronic_conditions,family_history
0,7271.0,23.0,Female,165.0,93.0,7.0,Good,7.0,Medium,Non-Smoker,Moderate,3,2.1,0,46.0,Cardiac,No
1,861.0,40.0,Female,167.0,93.0,1.0,Poor,9.0,Low,Regular,NaN,5,3.7,6,60.0,NaN,No
2,5391.0,66.0,Female,159.0,106.0,5.0,Poor,7.0,High,Occasional,Moderate,12,2.8,4,49.0,Hypertension,No
3,5192.0,32.0,Female,192.0,85.0,11.0,Poor,9.0,Medium,Non-Smoker,High,6,3.0,0,13.0,NaN,No
4,5735.0,36.0,Male,177.0,104.0,2.0,Good,9.0,Medium,Regular,Moderate,9,3.8,3,35.0,Diabetes,No

In [9]:
df.tail()

,person_id,age,gender,height_cm,weight_kg,physical_activity_hours_per_week,diet_quality,sleep_hours_per_day,stress_level,smoking_status,alcohol_consumption,daily_screen_time_hours,water_intake_liters,fast_food_frequency_per_week,mental_wellbeing_score,chronic_conditions,family_history
9995,5825.0,63.0,Female,188.0,49.0,1.0,Average,6.0,Medium,Regular,Moderate,12,4.4,5,84.0,Hypertension,Yes
9996,3660.0,25.0,Male,190.0,46.0,9.0,Poor,5.0,Low,Non-Smoker,High,5,3.8,3,29.0,Obesity,No
9997,1526.0,65.0,Female,156.0,71.0,12.0,Good,8.0,Medium,Non-Smoker,High,3,3.0,3,41.0,Cardiac,No
9998,NaN,NaN,NaN,NaN,NaN,2.0,Average,7.0,Medium,Occasional,NaN,5,2.5,6,43.0,Cardiac,No
9999,595.0,20.0,Male,152.0,85.0,14.0,Poor,4.0,Low,Occasional,Moderate,6,1.9,1,21.0,Diabetes,No

In [10]:
df.shape          # rows, columns
df.columns        # column names
df.info()         # datatypes & nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         9042 non-null   object
 1   age                               8932 non-null   object
 2   gender                            9000 non-null   object
 3   height_cm                         9000 non-null   float64
 4   weight_kg                         9000 non-null   float64
 5   physical_activity_hours_per_week  9500 non-null   float64
 6   diet_quality                      9410 non-null   object
 7   sleep_hours_per_day               9390 non-null   float64
 8   stress_level                      10000 non-null  object
 9   smoking_status                    10000 non-null  object
 10  alcohol_consumption               6678 non-null   object
 11  daily_screen_time_hours           10000 non-null  int64
 12  water_intake_liters               10000 non-null  float64
 13  fast_food_frequency_per_week      10000 non-null  int64
 14  mental_wellbeing_score            9862 non-null   object
 15  chronic_conditions                7981 non-null   object
 16  family_history                    10000 non-null  object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.3+ MB

In [11]:
df.describe()

,height_cm,weight_kg,physical_activity_hours_per_week,sleep_hours_per_day,daily_screen_time_hours,water_intake_liters,fast_food_frequency_per_week
count,9000.000000,9000.000000,9500.000000,9390.000000,10000.000000,10000.000000,10000.00000
mean,169.340333,82.062333,7.101895,6.526731,7.022400,2.746820,3.52910
std,14.510881,21.670030,4.332547,1.812161,3.733938,1.013638,2.29065
min,145.000000,45.000000,0.000000,4.000000,1.000000,1.000000,0.00000
25%,157.000000,63.000000,3.000000,5.000000,4.000000,1.900000,2.00000
50%,169.000000,82.000000,7.000000,7.000000,7.000000,2.700000,3.00000
75%,182.000000,101.000000,11.000000,8.000000,10.000000,3.600000,6.00000
max,194.000000,119.000000,14.000000,15.000000,13.000000,4.500000,7.00000