In [30]:
import pandas as pd
import numpy as np

file_path = r"C:\Users\Madhukeshalu\Documents\Health_lifestyle_project\data\raw\health_lifestyle_risk_raw_with_issues_10000.csv"
df = pd.read_csv(file_path)

print(df.shape)
df.head()

(10000, 17)

,person_id,age,gender,height_cm,weight_kg,physical_activity_hours_per_week,diet_quality,sleep_hours_per_day,stress_level,smoking_status,alcohol_consumption,daily_screen_time_hours,water_intake_liters,fast_food_frequency_per_week,mental_wellbeing_score,chronic_conditions,family_history
0,7271.0,23.0,Female,165.0,93.0,7.0,Good,7.0,Medium,Non-Smoker,Moderate,3,2.1,0,46.0,Cardiac,No
1,861.0,40.0,Female,167.0,93.0,1.0,Poor,9.0,Low,Regular,NaN,5,3.7,6,60.0,NaN,No
2,5391.0,66.0,Female,159.0,106.0,5.0,Poor,7.0,High,Occasional,Moderate,12,2.8,4,49.0,Hypertension,No
3,5192.0,32.0,Female,192.0,85.0,11.0,Poor,9.0,Medium,Non-Smoker,High,6,3.0,0,13.0,NaN,No
4,5735.0,36.0,Male,177.0,104.0,2.0,Good,9.0,Medium,Regular,Moderate,9,3.8,3,35.0,Diabetes,No

In [31]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         9042 non-null   object
 1   age                               8932 non-null   object
 2   gender                            9000 non-null   object
 3   height_cm                         9000 non-null   float64
 4   weight_kg                         9000 non-null   float64
 5   physical_activity_hours_per_week  9500 non-null   float64
 6   diet_quality                      9410 non-null   object
 7   sleep_hours_per_day               9390 non-null   float64
 8   stress_level                      10000 non-null  object
 9   smoking_status                    10000 non-null  object
 10  alcohol_consumption               6678 non-null   object
 11  daily_screen_time_hours           10000 non-null  int64
 12  water_intake_liters               10000 non-null  float64
 13  fast_food_frequency_per_week      10000 non-null  int64
 14  mental_wellbeing_score            9862 non-null   object
 15  chronic_conditions                7981 non-null   object
 16  family_history                    10000 non-null  object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.3+ MB

,height_cm,weight_kg,physical_activity_hours_per_week,sleep_hours_per_day,daily_screen_time_hours,water_intake_liters,fast_food_frequency_per_week
count,9000.000000,9000.000000,9500.000000,9390.000000,10000.000000,10000.000000,10000.00000
mean,169.340333,82.062333,7.101895,6.526731,7.022400,2.746820,3.52910
std,14.510881,21.670030,4.332547,1.812161,3.733938,1.013638,2.29065
min,145.000000,45.000000,0.000000,4.000000,1.000000,1.000000,0.00000
25%,157.000000,63.000000,3.000000,5.000000,4.000000,1.900000,2.00000
50%,169.000000,82.000000,7.000000,7.000000,7.000000,2.700000,3.00000
75%,182.000000,101.000000,11.000000,8.000000,10.000000,3.600000,6.00000
max,194.000000,119.000000,14.000000,15.000000,13.000000,4.500000,7.00000

In [32]:
# Shape of dataset
df.shape        # rows, columns

# Column names
df.columns

# Data types
df.dtypes

person_id                            object
age                                  object
gender                               object
height_cm                           float64
weight_kg                           float64
physical_activity_hours_per_week    float64
diet_quality                         object
sleep_hours_per_day                 float64
stress_level                         object
smoking_status                       object
alcohol_consumption                  object
daily_screen_time_hours               int64
water_intake_liters                 float64
fast_food_frequency_per_week          int64
mental_wellbeing_score               object
chronic_conditions                   object
family_history                       object
dtype: object

In [33]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         9042 non-null   object
 1   age                               8932 non-null   object
 2   gender                            9000 non-null   object
 3   height_cm                         9000 non-null   float64
 4   weight_kg                         9000 non-null   float64
 5   physical_activity_hours_per_week  9500 non-null   float64
 6   diet_quality                      9410 non-null   object
 7   sleep_hours_per_day               9390 non-null   float64
 8   stress_level                      10000 non-null  object
 9   smoking_status                    10000 non-null  object
 10  alcohol_consumption               6678 non-null   object
 11  daily_screen_time_hours           10000 non-null  int64
 12  water_intake_liters               10000 non-null  float64
 13  fast_food_frequency_per_week      10000 non-null  int64
 14  mental_wellbeing_score            9862 non-null   object
 15  chronic_conditions                7981 non-null   object
 16  family_history                    10000 non-null  object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.3+ MB
None
person_id                            958
age                                 1068
gender                              1000
height_cm                           1000
weight_kg                           1000
physical_activity_hours_per_week     500
diet_quality                         590
sleep_hours_per_day                  610
stress_level                           0
smoking_status                         0
alcohol_consumption                 3322
daily_screen_time_hours                0
water_intake_liters                    0
fast_food_frequency_per_week           0
mental_wellbeing_score               138
chronic_conditions                  2019
family_history                         0
dtype: int64

In [34]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         9042 non-null   object
 1   age                               8932 non-null   object
 2   gender                            9000 non-null   object
 3   height_cm                         9000 non-null   float64
 4   weight_kg                         9000 non-null   float64
 5   physical_activity_hours_per_week  9500 non-null   float64
 6   diet_quality                      9410 non-null   object
 7   sleep_hours_per_day               9390 non-null   float64
 8   stress_level                      10000 non-null  object
 9   smoking_status                    10000 non-null  object
 10  alcohol_consumption               6678 non-null   object
 11  daily_screen_time_hours           10000 non-null  int64
 12  water_intake_liters               10000 non-null  float64
 13  fast_food_frequency_per_week      10000 non-null  int64
 14  mental_wellbeing_score            9862 non-null   object
 15  chronic_conditions                7981 non-null   object
 16  family_history                    10000 non-null  object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.3+ MB

In [36]:
df.columns = df.columns.str.strip()

In [37]:
print("After deleting person_id nulls:", df.shape)

After deleting person_id nulls: (10000, 17)

In [38]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['age'].fillna(df['age'].median(), inplace=True)

C:\Users\Madhukeshalu\AppData\Local\Temp\ipykernel_11092\42976523.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].median(), inplace=True)

In [39]:
categorical_cols = [
    'gender','diet_quality','stress_level',
    'smoking_status','alcohol_consumption',
    'mental_wellbeing_score',
    'chronic_conditions','family_history'
]

for col in categorical_cols :
    df[col] = df[col].astype(str).str.strip().str.lower()

In [40]:
num_cols = [
    'age', 'height_cm', 'weight_kg',
    'physical_activity_hours_per_week',
    'sleep_hours_per_day',
    'mental_wellbeing_score'
]

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    df.fillna({col: df[col].median()}, inplace=True)

In [41]:
# Numeric columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Categorical columns (except person_id)
categorical_cols = df.select_dtypes(include='object').columns
categorical_cols = categorical_cols.drop('person_id', errors='ignore')

for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [42]:
df = df.drop_duplicates(subset='person_id')

In [43]:
import numpy as np

# ---------- Gender ----------
df['gender'] = df['gender'].astype(str).str.lower().str.strip()
df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
df['gender'] = df['gender'].map({'male': 1, 'female': 0})

# ---------- Diet Quality (ordinal) ----------
df['diet_quality'] = df['diet_quality'].astype(str).str.lower().str.strip()
df['diet_quality'] = df['diet_quality'].fillna('average')

diet_map = {
    'poor': 1,
    'average': 2,
    'good': 3
}
df['diet_quality'] = df['diet_quality'].map(diet_map)

# ---------- Stress Level (ordinal) ----------
df['stress_level'] = df['stress_level'].astype(str).str.lower().str.strip()

stress_map = {
    'low': 1,
    'medium': 2,
    'high': 3
}
df['stress_level'] = df['stress_level'].map(stress_map)

# ---------- Smoking Status ----------
df['smoking_status'] = df['smoking_status'].astype(str).str.lower().str.strip()

smoke_map = {
    'non-smoker': 0,
    'occasional': 1,
    'regular': 2
}
df['smoking_status'] = df['smoking_status'].map(smoke_map)

# ---------- Alcohol Consumption ----------
df['alcohol_consumption'] = df['alcohol_consumption'].astype(str).str.lower().str.strip()
df['alcohol_consumption'] = df['alcohol_consumption'].fillna('moderate')

alcohol_map = {
    'moderate': 1,
    'high': 2
}
df['alcohol_consumption'] = df['alcohol_consumption'].map(alcohol_map)

# ---------- Family History ----------
df['family_history'] = df['family_history'].astype(str).str.lower().str.strip()
df['family_history'] = df['family_history'].map({'yes': 1, 'no': 0})

# ---------- Chronic Conditions (binary) ----------
df['chronic_conditions'] = (
    df['chronic_conditions']
    .replace(['nan', 'NaN', np.nan], 'none')
    .astype(str)
    .str.lower()
    .str.strip()
)

df['chronic_conditions'] = df['chronic_conditions'].apply(
    lambda x: 0 if x == 'none' else 1
)

In [44]:
df['mental_wellbeing_score'] = pd.to_numeric(
    df['mental_wellbeing_score'], errors='coerce'
)
df['mental_wellbeing_score'] = df['mental_wellbeing_score'].fillna(
    df['mental_wellbeing_score'].median()
)

In [45]:
num_cols = [
    'height_cm','weight_kg',
    'physical_activity_hours_per_week',
    'sleep_hours_per_day',
    'daily_screen_time_hours',
    'water_intake_liters',
    'fast_food_frequency_per_week'
]

for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

NameError: name 'numeric_cols' is not defined

In [ ]:
df = df[df['age'].between(5, 100)]
df = df[df['sleep_hours_per_day'].between(3, 14)]

In [ ]:
df.isnull().sum()

person_id                              0
age                                    0
gender                                 0
height_cm                              0
weight_kg                              0
physical_activity_hours_per_week       0
diet_quality                           0
sleep_hours_per_day                    0
stress_level                           0
smoking_status                         0
alcohol_consumption                 1911
daily_screen_time_hours                0
water_intake_liters                    0
fast_food_frequency_per_week           0
mental_wellbeing_score                 0
chronic_conditions                     0
family_history                         0
dtype: int64

In [ ]:
df = df.dropna(subset=['gender', 'alcohol_consumption'])

In [ ]:
import os

base_path = "../data/cleaned"
os.makedirs(base_path, exist_ok=True)

df.to_csv(f"{base_path}/health_lifestyle_cleaned.csv", index=False)